[submodule "metacentrum/modules/base"]
	path = metacentrum/modules/base
	url = https://github.com/ChlupacTheBosmer/icvt-base
[submodule "metacentrum/modules/crop"]
	path = metacentrum/modules/crop
	url = https://github.com/ChlupacTheBosmer/icvt-crop
[submodule "metacentrum/modules/utility"]
	path = metacentrum/modules/utility
	url = https://github.com/ChlupacTheBosmer/icvt-utility
[submodule "metacentrum/modules/video"]
	path = metacentrum/modules/video
	url = https://github.com/ChlupacTheBosmer/icvt-video
[submodule "metacentrum/modules/vision"]
	path = metacentrum/modules/vision
	url = https://github.com/ChlupacTheBosmer/icvt-vision
[submodule "metacentrum/modules/database"]
	path = metacentrum/modules/database
	url = https://github.com/ChlupacTheBosmer/icvt-database
